body {
  margin: 0;
  font-family: Arial, sans-serif;
  direction: rtl; /* اللغة عربية */
  background-color: #3e5770; /* لون داكن للخلفية */
  color: #ecf0f1; /* لون النصوص الأساسي */
}

/* شريط التنقل */
nav {
  background-color: #2c3e50;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* للسماح باللف على الشاشات الصغيرة */
}

nav .logo {
  color: #ecf0f1;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 1rem;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #3498db;
}

header {
  background-color: #2c3e50;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  color: #ecf0f1;
}

.tests-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.test-item {
  background-color: #34495e;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition:
    transform 0.3s,
    background-color 0.3s;
}

.test-item:hover {
  background-color: #3498db;
  transform: translateY(-5px);
}

.test-item a {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 1.2rem;
  display: block;
}

.groups {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 20px;
  padding: 50px;
}
.groups .group-course{
  background: #1d2935;
  padding-bottom: 20px;
  text-align: center;
}
.groups .group-course img{
  width: 100%;
}
.groups .group-course h3, a{
  padding: 5px 0px;
}
.groups .group-course a{
  background: rgb(16, 101, 16);
  padding: 5px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}
.groups .group {
  background: #1d2935;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  color: white;
  position: relative;
  transition: all 0.3s;
}

.groups .group:hover {
  background: #6897c6;
}

.groups h2 {
  grid-column: 1 / -1;
  text-align: center;
  background: #2c3e50;
  padding: 10px 0;
}

/* ==== Responsive ==== */
@media (max-width: 1200px) {
  .groups {
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
  }
}

@media (max-width: 768px) {
  nav {
    justify-content: center;
  }

  nav ul {
    justify-content: center;
    margin-top: 10px;
  }

  .tests-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .groups {
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.5rem;
  }

  .tests-container {
    grid-template-columns: 1fr;
  }

  .groups {
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 15px;
  }

  nav ul li {
    margin-left: 10px;
  }

  .test-item a {
    font-size: 1rem;
  }
}
